name: Daily map refresh

on:
  workflow_dispatch:  # allow manual trigger
  schedule:  # run everyday a 6am
    - cron: '0 6 * * *'

jobs:
  main_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Refresh map
        id: main_task
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

          # Install Galician locale
          sudo apt install locales
          sudo locale-gen gl_ES.UTF-8

          pip install -r requirements.txt
          python main.py
          git commit -am "Daily map refresh" || true
          # ` || true` avoids error code 1 when no updates are made to the repo --> "nothing to commit, working tree clean"
          git push
